<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Plätze</th>
            <th scope="col">gebucht</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let kurs of kurse">
            <td>{{ kurs.id }}</td>
            <td>{{ kurs.name }}</td>
            <td>{{ kurs.plaetze }}</td>
            <td>{{ kurs.booked }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
