<div class="card my-5">
    <div class="card-body">
      <ul> 
        <li *ngFor="let k2 of k"> 
          <p>Kurs-Name: {{k2.name}}</p> 
          <p>Teilnehmer: {{k2.plaetze}}</p> 
            <p>lorem ipsum</p>
        </li> 
      </ul> 
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Plätze</th>
            <th scope="col">Buchungsstatus</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let kurs of k">
            <td>{{ kurs.id }}</td>
            <td>{{ kurs.name }}</td>
            <td>{{ kurs.plaetze }}</td>
            <td>{{ kurs.booked }}</td>
          </tr>
        </tbody>
      </table>

      
    </div>
  </div>