<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #kursForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="k.name" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Kursname"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Name is required.</div>
        <div class="form-group">
          <label for="plaetze">Teilnehmer-Anzahl</label>
          <input type="text" [(ngModel)]="k.plaetze" 
            class="form-control" 
            id="plaetze" 
            name="plaetze" 
            placeholder="Anzahl Teilnehmer, zB. 5"
            required #email="ngModel">
          <div  class="alert alert-danger">Teilnehmer-Anzahl is required.</div>
        </div>
        <button type="submit" value="submit"
        [disabled]="!kursForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>

  <!-- line 22: [hidden]="!plaetze.pristine"-->
