<h3>Neuen Kurs anlegen</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Kursbezeichnung</label>
      <input type="text" class="form-control" 
      id="name" required [(ngModel)]="kurs.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Teilnehmer-Anzahl</label>
      <input type="text" class="form-control" id="plaetze"
       required [(ngModel)]="kurs.plaetze" name="plaetze">
    </div>

    <div class="form-group">
      <label for="name">Status</label>
      <select class="form-control" id="booked" name="booked" required [(ngModel)]="kurs.booked">
        <option selected hidden>--- Bitte auswählen ---</option>
        <option value="true">aktiv</option>
        <option value="false">inaktiv</option>
      </select>


      <input type="text" class="form-control" id="booked"
       required [(ngModel)]="kurs.booked" name="booked">
    </div>

    <button type="submit" class="btn btn-success">Kurs anlegen</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Kurs wurde gespeichert!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>