<h3>Kurs bearbeiten</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Kurs-Bezeichnung</label>
      <input type="text" class="form-control" id="name" 
      required [(ngModel)]="kurs.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Anzahl Teilnehmer</label>
      <input type="text" class="form-control"
      id="plaetze" required [(ngModel)]="kurs.plaetze" name="plaetze">
    </div>

    <div class="form-group">
      <label for="name">Status</label>
      <input type="text" class="form-control" 
      id="booked" required [(ngModel)]="kurs.booked" name="booked">
    </div>

    <button type="submit" class="btn btn-success">Speichern</button>
  </form>
</div>
