<h2>Kurs-Details</h2> 

<hr/>
<div *ngIf="kurs">
  <div>
    <label><b>Kurs-Name: </b></label> {{kurs.name}}
  </div>
  <div>
    <label><b>Teilnehmer: </b></label> {{kurs.plaetze}}
  </div>
  <div>
    <label><b>Status: </b></label> {{kurs.booked}}
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Zurück zur Kursliste</button><br>