<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Kurs-Liste</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th id="#">#</th>
            <th id="name">Name</th>
            <th id="plaetze">Teilnehmer</th>
            <th id="booked">Status</th>
            <th id="actions">Aktionen</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of kurs | async">
            <td>{{k.id}}</td>
            <td>{{k.name}}</td>
            <td>{{k.plaetze}}</td>
            <td>{{k.booked}}</td>
            <td>
              <button (click)="deleteKurs(k.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateKurs(k.id)" class="btn btn-info"
                style="margin-left: 10px">Update</button>
              <button (click)="kursDetails(k.id)" class="btn btn-info"
                style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
