<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #kursForm="ngForm" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="kurs.name" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Kurs-Bezeichnung"
            required #name="ngModel">
        </div>
        <div [hidden]="!name" class="alert alert-danger">Kurs-Bezeichnung muss angegeben werden.</div>
        <div class="form-group">
          <label for="plaetze">Teilnehmer-Anzahl</label>
          <input type="text" [(ngModel)]="kurs.plaetze" 
            class="form-control" 
            id="plaetze" 
            name="plaetze" 
            placeholder="Anzahl Kursteilnehmern, z.B. 10"
            required #plaetze="ngModel">
          <div [hidden]="!plaetze" class="alert alert-danger">Anzahl an Kursteilnehmern muss angegeben werden.</div>
        </div>
        <button type="submit" [disabled]="!kursForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
